
  
  #chartNav {
    display: flex
}
  #info-pane {
    position: relative;
    top: 70px;
    height: 545px;

  }

  #scrollToButton{
    position: fixed;
    right: 22px;
    bottom: 80px;
    color: rgba(102, 102, 102, 1);
    background-color: #ffffffe3;
    border-radius: 5px;
    padding: 8px 22px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

/* 
  .leaflet-control-layers-expanded .leaflet-control-layers-list {
    font-size: medium;
    width: 157px
    }*/

    #mapid {
      height: calc(100vh - 52px);
      top:52px;
      z-index: 0;
  }

  @media only screen and (min-width: 1000px) {
    .supportButton{
      bottom: 23px;
    }
    #info-pane {
        position: absolute!important;
        left: 10px;
        min-height: 550px;
        /*height: 70vh;*/
    }
    #chartNav {
      display: none
    }
    .chart-container {
        
      }
  }

 

  

  .blinking {
    -webkit-animation: 2s blink ease infinite;
    -moz-animation: 2s blink ease infinite;
    -ms-animation: 2s blink ease infinite;
    -o-animation: 2s blink ease infinite;
    animation: 2s blink ease infinite;
    
  }
  
  @keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }